In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [15]:
data = pd.read_csv('Sales_add.csv')

In [16]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [21]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [19]:
data['Sales_before_digital_add(in $)'].describe()

count        22.000000
mean     149239.954545
std       14844.042921
min      130263.000000
25%      138087.750000
50%      147444.000000
75%      157627.500000
max      178939.000000
Name: Sales_before_digital_add(in $), dtype: float64

In [20]:
data['Sales_After_digital_add(in $)'].describe()

count        22.000000
mean     231123.727273
std       25556.777061
min      187305.000000
25%      214960.750000
50%      229986.500000
75%      250909.000000
max      276279.000000
Name: Sales_After_digital_add(in $), dtype: float64

____________________________________________________________________________________________________
**1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

2sample t-test: n=22(n<30)

_Null Hypothesis:_ There is an **increase in Sales** after stepping into Digital Marketing.

_Alternate Hypothesis:_ There is **NO increase in Sales** after stepping into Digital Marketing

Assuming _Significance level_: **0.05** i.e 5%

In [23]:
sales_bda = data['Sales_before_digital_add(in $)']
sales_ada = data['Sales_After_digital_add(in $)']

In [26]:
print(np.var(sales_bda), np.var(sales_ada))

210329900.67975205 623460269.4710745

In [24]:
tvalue, pvalue = stats.ttest_ind(sales_bda,sales_ada)

In [25]:
stats.ttest_ind(sales_bda,sales_ada)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [32]:
crit_val=stats.t.ppf(1-0.05,22)
crit_val

1.717144374380242

In [35]:
if (tvalue>crit_val and pvalue < 0.05):
    print('Reject Null Hypothesis. Hence there is no increase in sales after stepping into digital marketing')
else:
    print('Reject Alternate Hypothesis. Hence there is increase in sales after stepping into digital marketing')

Reject Alternate Hypothesis. Hence there is increase in sales after stepping into digital marketing

Since the p-value (2.614368006904645e-16) > 0.05, we fail to reject the null hypothesis of the test.
____________________________________________________________________________________________________

**2.The company needs to check whether there is any dependency between the features “Region” and “Manager”.**

Null Hypothesis: There is dependency between Region and Manger.

Alternate Hypothesis: There is NO dependency between Region and Manger, they are independant.

In [37]:
data.groupby(['Region','Manager']).count()

                        Month  Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A      4                               4
           Manager - B      3                               3
           Manager - C      3                               3
Region - B Manager - A      4                               4
           Manager - B      1                               1
           Manager - C      2                               2
Region - C Manager - A      1                               1
           Manager - B      3                               3
           Manager - C      1                               1

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                              4
           Manager - B                              3
           Manager - C                              3
Region - B Manager - A                              4
           Manager - B                              1
           Manager - C                              2
Region - C Manager - A                              1
           Manager - B                              3
           Manager - C                              1

In [38]:
crosstab = pd.crosstab(data["Region"], data["Manager"])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [47]:
t_value,pvalue,deg_f,ar = stats.chi2_contingency(crosstab)
print('t_value:',t_value,', pvalue:',pvalue)

t_value: 3.050566893424036 , pvalue: 0.5493991051158094

In [49]:
chi_crit_val=stats.chi2.ppf(1-0.05,4)
print('Critical Value:',chi_crit_val)

Critical Value: 9.487729036781154

In [54]:
if(t_value>chi_crit_val and pvalue<0.05):
    print('Reject Null Hypothesis. Hence Region and Manager features are dependent')
else:
    print('Reject Alternate Hypothesis. Hence Region and Manager features are Independent')

Reject Alternate Hypothesis. Hence Region and Manager features are Independent

____________________________________________________________________________________________________