In [6]:
import math
side=float(input("Enter the side of the equilateral triangle:"))
area = ((math.sqrt(3))/4)*pow(side,2)
print("Area:",area)

Enter the side of the equilateral triangle:4
Area: 6.928203230275509

In [9]:
string1=input("Enter the string")
c=0
print("The entered string is:",string1)
for i in range(0,len(string1)):
  c=c+1;
print("Count of char is:",c)

Enter the stringhello world
The entered string is: hello world
Count of char is: 11

In [15]:
import math
def peri(s1,s2,s3):
  return s1+s2+s3
def area(s1,s2,s3):
  p=peri(s1,s2,s3)
  semi_p=p/2
  area=(semi_p*(semi_p-s1)*(semi_p-s2)*(semi_p-s3))**0.5
  print("Perimeter of the triangle is:",p)
  print("Area of the triangle is:", area)
s1=float(input("Enter side1 of the triangle:"))
s2=float(input("Enter side2 of the triangle:"))
s3=float(input("Enter side3 of the triangle:"))
area(s1,s2,s3)

Enter side1 of the triangle:3
Enter side2 of the triangle:4
Enter side3 of the triangle:6
Perimeter of the triangle is: 13.0
Area of the triangle is: 5.332682251925386

In [33]:
def fib(num):
    a = 0
    b = 1
    if num == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,num):
            c = a + b
            a = b
            b = c
            print(c)
num=int(input("Enter the limit"))
print("The Fibonacci series till limit",num,"is:")
fib(num)

Enter the limit5
The Fibonacci series till limit 5 is:
0
1
1
2
3

In [44]:
a,b,c = input("Enter three numbers followed by space : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if a<=b and a<=c:
  print(a, "is the smallest")
elif b<=a and b<=c:
  print(b, "is the smallest")
else:
  print(c, "is the smallest")

Enter three numbers followed by space : 32 64 11
First number : 32
Second number : 64
Third number : 11
11 is the smallest

In [50]:
num=int(input("Enter the range"))
def pyr(num):
  for i in range(0,num):
    for j in range(0,i+1):
      print("*",end="")
    print("\n")
pyr(num)

Enter the range5
*

**

***

****

*****

In [52]:
hr=int(input("Enter the time in hours:"))
def to_sec(hr):
  sec=hr*3600
  print(hr, "Hours is: ",sec,"Seconds")
to_sec(hr)

Enter the time in hours:2
2 Hours is:  7200 Seconds

In [54]:
num=int(input("Enter a number to find the Multiplication table:"))
for i in range (1,11):
  print(num,"x",i,"=",num*i)

Enter a number to find the Multiplication table:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [62]:
fav_food=input("Enter your favourite foodlist followed by space").split()
for i in range(len(fav_food)):
  print("I love",fav_food[i])

Enter your favourite foodlist followed by spaceBiryani Kunafa Madhfoon Cakes Puttu
I love Biryani
I love Kunafa
I love Madhfoon
I love Cakes
I love Puttu

In [68]:
x=int(input("Enter value of x:")) #input function missing, wrong parenthesis: fixed
y=int(input("Enter the value of y:"))
for i in range (0,10):  #loop control variable missing, wrong brackets used: fixed
     if x==y:  #equal operator wrong, colon missing after if statement: fixed
          print("They are equal")
     else:
         print( "They are unequal") #print alphabet p in uppercase fixed

Enter value of x:8
Enter the value of y:5
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal